.go-to-platform-link {
	font-size: 12px;
	text-indent: 15px;
}

.addresses {
	font-style: 11px;
	text-indent: 15px;
}

.padded {
	padding: 2px 0px;
}

.search-for-accounts-link {
	text-align: center;
}

.platform-icon-image {
	height: 75px;
	padding-top: 10px;
	padding-bottom: 10px;
}
