<div class="jumbotron">
  <p class="lead">
    <img src="images/fishreel.png" alt="Team Fishreel"><br>
    <h4>Enter a Twitter handle</h4>
    <div>
      <form ng-submit="main.submitSearch()">
            <input type="text" class="form-control" placeholder="Search for Twitter handles..." ng-model="main.searchTerm">
      </form>
    </div>
  
  </p>
</div>

<div class="row marketing" class="center">


    <h2>DISCLAIMER</h2>
    <h4>Beta Version Only</h4>
    <p>
      This product is an early beta for demonstration purposes only.
    </p>
    <p>
      This product does calculates a limited number of metrics for a given Twitter account. Data is available for a limited number of accounts for this demonstration.
    </p>
</div>
