<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="summary-information">
	<div layout="row" layout-xs="column">
		<div layout="column" flex>
			<h2 class="md-display-2">
				{{searchResults.userProfileFromServer.twitterHandle}}
			</h2>
			<h5 class="md-title">
				Details from <a href="www.twitter.com/{{searchResults.userProfileFromServer.twitterHandle}}">Twitter Profile</a>:
			</h5>
		</div>
		<div flex="20">
			<img ng-src="{{searchResults.userProfileFromServer.profileImage}}" class="img-circle img-account-profile" alt="Profile Image" />
		</div>
	</div>
	<div layout="row" class="md-subhead" flex>
		<table  class="twitter-account-field-table">
			<tr>
				<th>Field</th>
				<th>Value</th>
			</tr>
			<tr>
				<td>Name</td>
				<td>{{searchResults.userProfileFromServer.name}}</td>
			</tr>
			<tr>
				<td>Description</td>
				<td>{{searchResults.userProfileFromServer.description}}</td>
			</tr>
			<tr>
				<td>Location</td>
				<td>{{searchResults.userProfileFromServer.location}}</td>
			</tr>
			<tr>
				<td>Timezone</td>
				<td>{{searchResults.userProfileFromServer.timezone}}</td>
			</tr>
			<tr>
				<td>Website</td>
				<td>{{searchResults.userProfileFromServer.website}}</td>
			</tr>
			<tr>
				<td>Creation date</td>
				<td>{{searchResults.userProfileFromServer.creationDate}}</td>
			</tr>
			<tr>
				<td>Language</td>
				<td>{{searchResults.userProfileFromServer.language}}</td>
			</tr>
		</table>
	</div>
</div>

<div flex class="search-for-accounts-link">
	<h3><a href="#/associated-accounts/{{searchResults.userProfileFromServer.twitterHandle}}">Search for associated accounts</a></h3>
</div>

<md-divider></md-divider>

<md-content class="md-padding" layout="row">
	<md-card>
		<md-card-header>
			<md-card-header-text>
			      <span class="md-title">Customized Profile Picture?</span>
			</md-card-header-text>
		</md-card-header>
	  	<md-card-content>
	  		<span ng-if="!searchResults.userProfileFromServer.defaultAvatarBool
	"><span class="md-subhead" color="#81B54C">Yes</font></span>
			<span ng-if="searchResults.userProfileFromServer.defaultAvatarBool
	"><span class="md-subhead" color="#B54C4C">No</font></span>
	  	</md-card-content>
	</md-card>
	<br>

	<md-card>
		<md-card-header>
			<md-card-header-text>
			      <span class="md-title">Customized Profile Apperance?</span>
			</md-card-header-text>
		</md-card-header>
	  	<md-card-content>
	  	  	<span ng-if="!searchResults.userProfileFromServer.defaultProfileBool
	"><span class="md-subhead" color="#81B54C">Yes</font></span>
			<span ng-if="searchResults.userProfileFromServer.defaultProfileBool
	"><span class="md-subhead" color="#B54C4C">No</font></span>
	  	</md-card-content>
	</md-card>
</md-content>

<md-card ng-repeat="analysisField in searchResults.userProfileFromServer.analysisFields">
	<md-card-header>
		<md-card-header-text>
		      <span class="md-title">{{analysisField.label}}</span>
		      <span class="md-subhead">{{analysisField.description}}</span>
		      <span class="md-subhead">{{analysisField.rawValue}}</span>
		</md-card-header-text>
	</md-card-header>
  	<md-card-content>
 	<!--
  		<nvd3 options='searchResults.options' data='searchResults.data'></nvd3>
-->
  	</md-card-content>
</md-card>

